ogbench == 1.1.0
jax[cuda12] >= 0.4.26
flax >= 0.8.4
distrax >= 0.1.5
ml_collections >= 1.1.0
matplotlib >= 3.10.3
moviepy >= 2.1.2
wandb >= 0.19.11
d4rl
gymnasium == 0.29.1
gym == 0.23.1
numpy == 1.26.4
shimmy[gym-v21,gym-v26]
Cython < 3
absl-py
optax
tqdm
Pillow
